###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Ignore everything in var/ except var/data.db
/var/*
!/var/data.db

# Ignore IDE specific files
/.idea/
/.vscode/

# Ignore system files
.DS_Store
Thumbs.db
